 .u-section-1 {
  background-image: none;
  min-height: 768px;
}

.u-section-1 .u-shape-1 {
  height: 290px;
  background-image: none;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 963px;
  height: 707px;
  margin: -583px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-slider-1 {
  width: 474px;
  min-height: 307px;
  margin: -248px auto -292px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 31px;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 60px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  margin: -82px -202px 0 auto;
  padding: 20px 43px 20px 42px;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 59px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  margin: 32px auto 0 1px;
  padding: 20px 43px 20px 42px;
}

.u-section-1 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 751px;
  }

  .u-section-1 .u-shape-1 {
    height: 244px;
  }

  .u-section-1 .u-image-1 {
    width: 817px;
    height: 583px;
    margin-top: -537px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-slider-1 {
    min-height: 392px;
    height: auto;
    margin-top: -168px;
    margin-bottom: 18px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-image-1 {
    width: 634px;
    height: 453px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-slider-1 {
    margin-top: -91px;
    margin-bottom: 59px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 60px 30px 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 458px;
  }

  .u-section-1 .u-shape-1 {
    height: 273px;
    margin-top: 218px;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 330px;
    margin-top: -491px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-slider-1 {
    min-height: 377px;
    margin-top: -79px;
    margin-bottom: -55px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 167px;
  }

  .u-section-1 .u-image-1 {
    width: 323px;
    height: 230px;
    margin-top: -440px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    min-height: 359px;
    margin-top: -41px;
    margin-left: auto;
    margin-bottom: 45px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 755px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  width: 822px;
  margin: 69px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 366px;
  margin-top: 198px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -518px auto 65px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 381px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 19px 9px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 397px;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  text-align: center;
  margin: 18px 9px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 749px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 327px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 316px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1187px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-shape-1 {
    height: 825px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -977px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1596px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-1 {
    height: 1165px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1317px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1623px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    height: 1278px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1430px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 119px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 418px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 59px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 34px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  align-self: center;
  background-image: none;
  margin: 34px auto 59px;
  padding: 20px 43px 20px 42px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 988px;
}

.u-section-4 .u-text-1 {
  margin: 80px auto 0;
}

.u-section-4 .u-text-2 {
  width: 639px;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 31px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 712px;
  grid-gap: 20px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c72653bd-4385-55f5-27f2-b5f458e7dcc2.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cropped-view-professional-serious-finance-manager-holding-calculator-hands-checking-company-month-s-profits_176420-7931.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/handshake-close-up-executives_1098-1384.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/hftgyjyt.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cropped-view-of-hands-typing-on-laptop_1262-3196.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 606px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 111px;
    width: 111px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 111px;
    width: 111px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 111px;
    width: 111px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-4 {
    height: 111px;
    width: 111px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-5 {
    height: 111px;
    width: 111px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-6 {
    height: 111px;
    width: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 712px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1949px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 804px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  width: 711px;
  margin: 30px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 515px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 253px;
  background-image: url("images/victor.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  width: 170px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-align: center;
  font-style: italic;
  margin: 20px 60px 0 70px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-5 .u-image-2 {
  width: 253px;
  height: 253px;
  background-image: url("images/leo.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  width: 170px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-align: center;
  font-style: italic;
  margin: 20px 60px 0 70px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-5 .u-image-3 {
  width: 253px;
  height: 253px;
  background-image: url("images/romain.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  width: 170px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-align: center;
  font-style: italic;
  margin: 20px 60px 0 70px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 425px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-5 .u-image-1 {
    width: 227px;
    height: 227px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-6 {
    width: 170px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-5 .u-image-2 {
    width: 227px;
    height: 227px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-9 {
    width: 170px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-5 .u-image-3 {
    width: 227px;
    height: 227px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-12 {
    width: 170px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 977px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 357px;
    height: 357px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 357px;
    height: 357px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 357px;
    height: 357px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 268px;
    height: 268px;
  }

  .u-section-5 .u-image-2 {
    width: 268px;
    height: 268px;
  }

  .u-section-5 .u-image-3 {
    width: 268px;
    height: 268px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1471px;
}

.u-section-6 .u-group-1 {
  width: 737px;
  min-height: 490px;
  margin: 69px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.4;
  font-style: italic;
  font-weight: 400;
  margin: 15px 155px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 20px 46px 20px 44px;
}

.u-section-6 .u-image-1 {
  height: 657px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-6 .u-group-2 {
  width: 456px;
  min-height: 252px;
  background-image: none;
  margin: -134px auto 60px 29px;
}

.u-section-6 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 15px auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 616px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-image-1 {
    height: 540px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -96px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1582px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 532px;
  }

  .u-section-6 .u-group-2 {
    width: 311px;
    margin-top: -88px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 458px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 43px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 800px;
  margin: 55px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 153px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-icon-1 {
  width: 179px;
  height: 179px;
  margin: -13px auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 153px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-icon-2 {
  width: 151px;
  height: 151px;
  margin: 0 auto;
}

.u-section-7 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -107px 31px 0 auto;
}

.u-section-7 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -19px auto 60px 440px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-4 {
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 131px;
  }
}
